# Pandas Lecture Lab Activity

What is CRUD?

Create, Read, Update. ande Delete

Using pandas import the Module 7 Lecture Lab Activity.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Lab_activity.csv')

Show the header for the CSV.

In [ ]:
df.head()

Show the first 15 rows of the CSV.

In [ ]:
df.head(15)

Show the last 7 rows of the CSV.

In [ ]:
df.tail(7)

Show all the Columns of the CSV.

In [ ]:
df.columns

Show the specific data types of the CSV.

In [ ]:
df.dtypes

Show a statistical summary of the CSV.

In [ ]:
df.describe()

What objects are not included in the statistical summary?
How can I get the objects that are not included?

What is not include is object

In [2]:
# write the code to show me how to get the objects that are not included

In [ ]:
df.describe(include='object')

Show how to filter the names from the rest of the table?

Show me the unique names.

Show me only the rows that are under $1.00

Show only the rows 17 to 37

In [ ]:
df.iloc[17:37]

Show only the rows that are for Damien.

Create a new column names is_candy and make all the rows True

Change the name of the row you created to Candy.

Write an statement that iterates through the list and finds all the Snicker or snickers

Using iloc change the 3rd row's candy column to False

Output the table to a csv named 'your_last_name_mod7output.csv'

Drop the candy column permanently

# Please turn in the completed Juypter Notebook along with your output csv to github. Make sure that I can see the notebook and it is not just the file as this sometimes does not work. A link to the location on the repo should be submitted.